<!-- <h2>Edit Appointment</h2>
<form (ngSubmit)="onUpdate()">
  <label>Patient ID:</label>
  <input type="text" [(ngModel)]="appointment.patientId" name="patientId">

  <label>Doctor ID:</label>
  <input type="text" [(ngModel)]="appointment.doctorId" name="doctorId">

  <label>Date:</label>
  <input type="date" [(ngModel)]="appointment.date" name="date">

  <label>Time:</label>
  <input type="time" [(ngModel)]="appointment.time" name="time">

  <label>Reason:</label>
  <textarea [(ngModel)]="appointment.reason" name="reason"></textarea>

  <button type="submit">Update</button>
</form> -->
